{% extends 'vaccine/beforeindex.html' %}
{% block content %}
<section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <h1 class="display-1 text-info">Setup Your Vaccination</h1>
    <p class="display-4 d-none d-sm-block">The first is to register for this Program, Which lets you schedule your Vaccination.</p>
    <p class="lead">We organize a vaccine program.</p>
    <a href="patient/signup" class="btn btn-lg btn-info" style="padding-right: 35px;"><i class="fa fa-user-plus" aria-hidden="true"></i> Registration</a>

    <br><br><br>
  </div>
</section>

{% endblock content %}