<div class="bs-example">
    <nav class="navbar navbar-expand-md  navbar-dark fixed-top" style="background-color: #000000;">
    <a style="color: #ffffff;text-decoration: none; " href="/"><font face = "Comic sans MS" size =" 5">Vaccine App</font><br /></a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav">
          <a style="
          padding-left: 30px;
      " href="/" class="nav-item nav-link active">Home</a>

          <a href="/vaccine-list" class="nav-item nav-link">Vaccine Info</a>
          <a href="/patient/patient-dashboard" class="nav-item nav-link">Patient Login</a>
          <a href="/admin-dashboard" class="nav-item nav-link">Admin</a>
        </div>
        <div class="navbar-nav">

        </div>
      </div>
    </nav>
</div>

