{% extends 'patient/patientbase.html' %}
{% load widget_tweaks %}
{% load static %}
{% block head %}
<style>
body {
    min-height: 100vh;

    align-items: center;
    justify-content: center;

    font-size: 0.8rem
}

.card {
    max-width: 1000px;
    margin: 2vh
}

.card-top {
    padding: 0.7rem 5rem
}

.card-top a {
    float: left;
    margin-top: 0.7rem
}

#logo {
    font-family: 'Dancing Script';
    font-weight: bold;
    font-size: 1.6rem
}

.card-body {
    padding: 0 5rem 5rem 5rem;
    background-image: url("https://i.imgur.com/4bg1e6u.jpg");
    background-size: cover;
    background-repeat: no-repeat
}

@media(max-width:768px) {
    .card-body {
        padding: 0 1rem 1rem 1rem;
        background-image: url("https://i.imgur.com/4bg1e6u.jpg");
        background-size: cover;
        background-repeat: no-repeat
    }

    .card-top {
        padding: 0.7rem 1rem
    }
}

.row {
    margin: 0
}

.upper {
    padding: 1rem 0;
    justify-content: space-evenly
}

#three {
    border-radius: 1rem;
    width: 22px;
    height: 22px;
    margin-right: 3px;
    border: 1px solid blue;
    text-align: center;
    display: inline-block
}

#payment {
    margin: 0;
    color: blue
}

.icons {
    margin-left: auto
}

form span {
    color: rgb(179, 179, 179)
}

form {
    padding: 2vh 0
}

input {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247)
}

input:focus::-webkit-input-placeholder {
    color: transparent
}

.header {
    font-size: 1.5rem
}

.left {
    background-color: #ffffff;
    padding: 2vh
}

.left img {
    width: 2rem
}

.left .col-4 {
    padding-left: 0
}

.right .item {
    padding: 0.3rem 0
}

.right {
    background-color: #ffffff;
    padding: 2vh
}

.col-8 {
    padding: 0 1vh
}

.lower {
    line-height: 2
}

.btn {
    background-color: rgb(23, 4, 189);
    border-color: rgb(23, 4, 189);
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin: 4vh 0 1.5vh 0;
    padding: 1.5vh;
    border-radius: 0
}

.btn:focus {
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none
}

.btn:hover {
    color: white
}

a {
    color: black
}

a:hover {
    color: black;
    text-decoration: none
}

input[type=checkbox] {
    width: unset;
    margin-bottom: unset
}

#cvv {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.575), rgba(255, 255, 255, 0.541)), url("https://img.icons8.com/material-outlined/24/000000/help.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center
}

#cvv:hover {}
</style>
{% endblock head %}
{% block content %}

<div class="card">
    <div class="card-top border-bottom text-center"><span id="logo">Payment</span> </div>
    <div class="card-body">
       <div class="row">
            <div class="col-md-7">
                <div class="left border">
                    <div class="row"> <span class="header">Payment</span>
                        <div class="icons"> <img src="https://img.icons8.com/color/48/000000/visa.png" /> <img src="https://img.icons8.com/color/48/000000/mastercard-logo.png" /> <img src="https://img.icons8.com/color/48/000000/maestro.png" /> </div>
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        {%csrf_token%}
                        <span>Cardholder's name:</span>
                        {% render_field form.Name class="form-control" placeholder="Ex: Amina Begum" %}
                        <span>Card Number:</span> {% render_field form.Card_No class="form-control" placeholder="Ex: 0125 6780 4567 9909" %}
                        <div class="row">
                            <div class="col-4"><span>Expiry date:</span> {% render_field form.Expiry_date class="form-control" placeholder="Ex: MM/YY" %} </div>
                            <div class="col-4"><span>CVV:</span> {% render_field form.Cvv class="form-control" placeholder="Ex: Cvv" %}</div>
                        </div>

                </div>
            </div>
            <div class="col-md-5">
                <div class="right border">
                    <div class="header">Payment Summary</div>

                    <div class="row item">
                        <div class="col-4 align-self-center"><img class="img-fluid" src="{% static vaccine_image.url %}"></div>
                        <div class="col-8">
                            <div class="row"><b>Taka {{vaccine_price}}</b></div>
                            <div class="row text-muted">{{vaccine_name}}</div>
                            <div class="row">Qty:1</div>
                        </div>
                    </div>

                    <hr>
                    <div class="row lower">
                        <div class="col text-left">Subtotal</div>
                        <div class="col text-right" id="num1">Taka {{vaccine_price}}</div>
                    </div>
                    <div class="row lower">
                        <div class="col text-left">Hospital Fee</div>
                        <div class="col text-right" id="num2">Taka 1500</div>
                    </div>
                    <div class="row lower">
                        <div class="col text-left"><b>Total to pay</b></div>
                        <div class="col text-right" id="total">Taka {{total}}</b></div>
                    </div>
                    <div class="row lower">

                    </div><a href="{% url 'vaccine:payment' vaccine_id %}"><button class="btn">Place Payment</button></a></form>

                </div>
            </div>
        </div>
    </div>
    <div> </div>
</div>
{% endblock content %}
{% block javascript %}

{% endblock javascript %}